<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcdy.dsc.modules.settle.mapper.DistrictMapper">
    <resultMap id="treeMap" type="com.zcdy.dsc.modules.settle.vo.DistrictTreeVo">
        <id column="id" property="id"/>
        <collection property="children" column="id"
                    select="com.zcdy.dsc.modules.settle.mapper.DistrictMapper.getTreeByParentId"/>
    </resultMap>

    <sql id="tree_columns">
        a.id as `key`,
        a.id as `id`,
        a.id as `value`,
        a.has_child as isLeaf,
        a.district_name as title,
        a.parent_id as pid
    </sql>

    <select id="getTreeByParentId" resultMap="treeMap">
        select
        <include refid="tree_columns"/>
        from settle_district a
        where 1=1
        and a.parent_id = #{id}
        and a.del_flag = 0
        order by CONVERT(a.district_name USING gbk) asc
    </select>

    <select id="getTreeById" resultMap="treeMap">
        select
        <include refid="tree_columns"/>
        from settle_district a
        where 1=1
        and a.id = #{id}
        and a.del_flag = 0
    </select>


    <select id="getTreeByKeyword" resultType="com.zcdy.dsc.modules.settle.vo.DistrictTreeVo">
        select
        <include refid="tree_columns"/>,
        length(a.parent_ids) - length(replace(a.parent_ids, ',','')) as districtLevel
        from settle_district a where INSTR(
        (
            select REPLACE(GROUP_CONCAT(ia.parent_ids), ',,', ',')
            from (
            SELECT
            concat(parent_ids, id, ',') as parent_ids
            FROM
            settle_district
            WHERE
            1 = 1
            AND district_name LIKE concat( '%', #{keyword}, '%' )
            AND del_flag = 0
            ) ia
        )
        , a.id) > 0 order by districtLevel
    </select>


</mapper>