<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcdy.dsc.modules.operation.upkeep.mapper.UpkeepPlanRecordMapper">

    <update id="updateByEquipmentId">

        <foreach collection="list" item="item" separator=";" open="" close="" index="index">
            update opt_upkeep_plan_record t set t.dispatch_status='1' where t.plan_id = (
            select id from opt_upkeep_plan t2 where t2.opt_id=#{item}) and t.current='1'
        </foreach>

    </update>
</mapper>