<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcdy.dsc.modules.operation.upkeep.mapper.UpkeepPlanMapper">

    <select id="advisePageData" resultType="com.zcdy.dsc.modules.operation.upkeep.vo.KeepAdviseVo">
        SELECT
        t.id id,
        t3.id equipmentId,
        t3.equipment_sn equipmentSn,
        t3.equipment_name equipmentName,
        t3.equipment_location equipmentLocation,
        t4.name equipmentSectionName,
        t.next_plan_date planDate
        FROM
        opt_upkeep_plan t
        LEFT JOIN opt_upkeep_plan_record t2 on t2.plan_id=t.id
        LEFT JOIN opt_equipment t3 on t3.id=t.opt_id
        left join sys_category t4 on t4.code=t3.equipment_section
        WHERE
        t.next_plan_date >= CURDATE()
        and t.next_plan_date &lt;=(DATE_ADD(CURDATE(),INTERVAL (SELECT c.config_value from system_config c where
        c.config_key='upkeeper.remind.days' ) DAY))
        and t2.dispatch_status='0'
        <if test="param.equipmentSection!=null and param.equipmentSection!=''">
            and t3.equipment_section=#{param.equipmentSection}
        </if>
        <if test="param.equipmentLocation!=null and param.equipmentLocation!=''">
            and t3.equipment_location=#{param.equipmentLocation}
        </if>
    </select>
</mapper>